# ==========================================
# Configuración del Entorno - Huevo Real
# ==========================================

# Seguridad de Django
SECRET_KEY=coloca_aqui_tu_secret_key_de_django
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Proveedores de Mapas (Opcionales)
# Por defecto el sistema utiliza Esri World Street Map y OSM Humanitario (100% gratuitos, sin API key, sin marcas de agua ni bloqueos).
# Si deseas activar capas comerciales opcionales, coloca tus claves aquí:
MAPBOX_ACCESS_TOKEN=
CARTO_API_KEY=
